<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List of employees</title>
</head>
<body>

<div class="modal-body">
  <div class="container">

    <div class="title">
      <h2 class="center">List of employees</h2>
    </div>

    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >

      <table class="table table-striped">
        <thead>
        <tr class="row">
          <th class="col-md-2">#</th>
          <th class="col-md-3">Firstname</th>
          <th class="col-md-3">Lastname</th>
          <th class="col-md-2">Salary</th>
          <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
        <div *ngFor="let employee of employees">
          <tr class="row">
            <td class="col-md-2 font-weight-bold">{{employee.id}}</td>
            <td class="col-md-3">{{employee.firstname}}</td>
            <td class="col-md-3">{{employee.lastname}}</td>
            <td class="col-md-2">{{employee.salary}}</td>
            <td class="col-md-2"><button type="button" class="btn btn-success" routerLink="/contact/{{employee.id}}">Apply bonus</button></td>
          </tr>
        </div>
        </tbody>
      </table>
    </div>
    <!-- spinner -->
    <div  *ngIf = "next" class="row pb-5">
      <div class="col-md-12 p-5">
        <ngx-spinner
          bdOpacity = 0.9
          bdColor = ""
          size = "default"
          color = "#581f87"
          type = "ball-pulse-sync"
          [fullScreen] = "false"
        >
        </ngx-spinner>
      </div>
    </div>
    <div *ngIf = "!next" class="row pb-5">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="text-muted h6 alert alert-secondary p-2">No more items to show</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
